# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- master

pool:
  vmImage: ubuntu-latest

stages: 
 - stage: Dockerfile_buildandPush
   displayName: Dockerfile_buildandPush
   jobs:
     - job: build_and_push
       steps:
       - task: Docker@2
         inputs:
           containerRegistry: 'myacrcon'
           repository: 'myacrrepo'
           command: 'buildAndPush'
           Dockerfile: '**/Dockerfile'
       - task: ArchiveFiles@2
         inputs:
           rootFolderOrFile: '$(Build.SourceDirectory)'
           includeRootFolder: true
           archiveType: 'zip'
           archiveFile: '$(Build.ArtifactStagingDirectory)/$(Build.BuildId).zip'
           replaceExistingArchive: true
       - task: PublishBuildArtifacts@1
         inputs:
           PathtoPublish: '$(Build.ArtifactStagingDirectory)'
           ArtifactName: 'drop'
           publishLocation: 'Container'
 - stage: Code_push_to_web_app
   displayName: Web app
   jobs:
     - job: build_and_push
       steps:          
       - task: AzureWebApp@1
         inputs:
           azureSubscription: 'my-azure-svc-con'
           appType: 'webAppLinux'
           appName: 'myflaskapp1008'
           package: '$(System.DefaultWorkingDirectory)'
           runtimeStack: 'PYTHON|3.9'
