trigger:
- master

pool:
  vmImage: ubuntu-latest

stages: 
 - stage: Dockerfile_buildandPush
   displayName: Dockerfile_buildandPush
   jobs:
     - job: build_and_push
       steps:
       - task: Docker@2
         inputs:
           containerRegistry: 'acr-con'
           repository: 'myacrrepo'
           command: 'buildAndPush'
           Dockerfile: '**/Dockerfile'


