<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DevOps World</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Hello DevOps World!</h1>
        <p>Welcome to our Flask app!</p>
        <div class="center">
            <a href="/">Home</a>
            <a href="/greet/User">Sara</a>
        </div>
    </div>
</body>
</html>

